# Claves de acceso a Supabase
VITE_SUPABASE_URL=TU_URL_AQUI
VITE_SUPABASE_ANON_KEY=TU_ANON_KEY_AQUI

# Clave y URL del Backend en HuggingFace Spaces
VITE_API_URL=https://lizrosas-proyectotesisback.hf.space
VITE_BACKEND_API_KEY=my-super-secret-key-123